# Karam ALhanatleh

# Assignment 3

dic_output = {

    "MaxValue": {
        "student_name": "",
        "value": ""
    },
    "MaxAvg": {
        "student_name": "",
        "value": ""
    },

    "MinValue": {
        "student_name": "",
        "value": ""
    },
    "MinAvg": {
        "student_name": "",
        "value": ""
    },

    "standard_deviation": "",
    "Q1": "",
    "Q2": "",
    "Q3": "",
    "IQR": ""
    "most_freq_value": ""

}

1. Read data.txt file
2. Save data in dictionary where the key  is the student name and value as list of marks
3. Donâ€™t use built-in functions e.g. sum(), max(), min(), avg(), sort().
4. Use math function pow() , sqrt()  
5. Use functions to organize your code
6. Use exceptions handling
7. Create output dictionary file that contain the following info :  
    7.1. maximum average with student name
    7.2. Maximum mark with student name
    7.3. Minimum average with student name
    7.4. Minimum mark with student name
    7.5. Standard deviation 
    7.6. Q1,Q2,Q3 , IQR
    7.7. Most frequent mark 
8. Export the output dictionary as JSON file

In [5]:
#import
import math
import json

In [6]:

def read_file(name_file):
    data_dict={}
    with open(name_file, 'r') as file:
        for lin in file:
            f = lin.strip().split(',')
            name=f[0]
            marks=[]
            for x in f[1:]:
                marks.append(int(x))
            data_dict[name] = marks
    return data_dict

In [7]:
read_file("data.txt")

{'Ahmad': [78, 99, 88, 89, 60],
 'Tareq': [90, 80, 95, 77, 76],
 'Mahmoud': [90, 96, 99, 98, 100],
 'Khaled': [50, 65, 77, 55, 87],
 'Saba': [88, 90, 94, 77, 87]}

In [8]:

def calculate_statistics(data_dict):
    # Calculate basic statistics
    max_avg = -1
    max_avg_name = ''
    min_avg = math.inf
    min_avg_name = ''
    max_val = -1
    max_val_name = ''
    min_val = math.inf
    min_val_name = ''
    total_sum = 0
    total_count = 0
    freq_dict = {}
    for name, marks in data_dict.items():
        count = len(marks)
        total_count =total_count+ count
        sum_marks=sum(marks)
        total_sum = total_sum + sum_marks
        avg = sum_marks/count
        if avg > max_avg:
            max_avg = avg
            max_avg_name = name
        if avg < min_avg:
            min_avg = avg
            min_avg_name = name
        if max(marks) > max_val:
            max_val = max(marks)
            max_val_name = name
        if min(marks) < min_val:
            min_val = min(marks)
            min_val_name = name
        for mark in marks:
            if mark in freq_dict:
                freq_dict[mark] += 1
            else:
                freq_dict[mark] = 1
    
    #   Std
    mean = total_sum/total_count
    sum_of_squares = 0
    for name, marks in data_dict.items():
        for mark in marks:
            sum_of_squares += pow((mark - mean), 2)
    std_dev = math.sqrt(sum_of_squares/total_count)
    
    # quartiles 
    sorted_marks=[]
    for marks in data_dict.values():
        for m in marks:
            sorted_marks.append(m)
    sorted_marks.sort()   
    
    num_marks = len(sorted_marks)
    q1 = sorted_marks[num_marks//4]
    q2 = sorted_marks[num_marks//2]
    q3 = sorted_marks[3*num_marks//4]
    iqr = q3 - q1
    
    # Create output dictionary
    output_dict = {
        "MaxValue": {
            "student_name": max_val_name,
            "value": max_val
        },
        "MaxAvg": {
            "student_name": max_avg_name,
            "value": max_avg
        },
        "MinValue": {
            "student_name": min_val_name,
            "value": min_val
        },
        "MinAvg": {
            "student_name": min_avg_name,
            "value": min_avg
        },
        "standard_deviation": std_dev,
        "Q1": q1,
        "Q2": q2,
        "Q3": q3,
        "IQR": iqr,
        "most_freq_value": max(freq_dict, key=freq_dict.get)
    }
    return output_dict

In [9]:
def save_output_file(output_dict, file_path):
    with open(file_path, 'w') as file:
        json.dump(output_dict, file)
try:
    data_dict = read_file('data.txt')
    output_dict = calculate_statistics(data_dict)
    save_output_file(output_dict, 'output.json')
except Exception as e:
    print('An error occurred:', e)

In [10]:
import pandas as pd
df=pd.DataFrame(output_dict)

In [11]:
df.head()

,MaxValue,MaxAvg,MinValue,MinAvg,standard_deviation,Q1,Q2,Q3,IQR,most_freq_value
student_name,Mahmoud,Mahmoud,Khaled,Khaled,13.620573,77,88,94,17,90
value,100,96.6,50,66.8,13.620573,77,88,94,17,90

In [8]:
output_dict

{'MaxValue': {'student_name': 'Mahmoud', 'value': 100},
 'MaxAvg': {'student_name': 'Mahmoud', 'value': 96.6},
 'MinValue': {'student_name': 'Khaled', 'value': 50},
 'MinAvg': {'student_name': 'Khaled', 'value': 66.8},
 'standard_deviation': 13.620572675185135,
 'Q1': 77,
 'Q2': 88,
 'Q3': 94,
 'IQR': 17,
 'most_freq_value': 90}