# Task 1

## Karam Alhanatleh

In [ ]:
# Question 1 :

# Write Python code that will do the following : 

# 1- Loop on numbers from -20 to 20

# 2- Print -in one line- the numbers that is positive and even

# 3- Print -in one line- the numbers that is negative and odd

In [37]:
#Q1 - 1
#Loop on numbers from -20 to 20

#list range -20 to 20
numbers = list(range(-20,21))

for i in numbers:
    print(i)

-20
-19
-18
-17
-16
-15
-14
-13
-12
-11
-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [40]:
#Q1 - 2
# Print -in one line- the numbers that is positive and even

#for loop to print number positive and even
for i in numbers:
    if i>0:   # check number positive
        if i%2 == 0: # check number even 
            print(i,end=" ")

2 4 6 8 10 12 14 16 18 20

In [41]:
#Q1 - 3
# Print -in one line- the numbers that is negative and odd


#for loop to print number negative and odd 
for i in numbers:
    if i<0:  # check number negative
        if i%2 != 0:    # check number odd
            print(i,end=" ")

-19 -17 -15 -13 -11 -9 -7 -5 -3 -1

<hr>

In [ ]:
# Question 2 :

# Write Python code the will output the following


# $$
# $$$$
# $$$$$$
# $$$$$$$$
# $$$$$$$$$$

In [42]:
for i in range(2,12,2):
    print("$"*i)

$$
$$$$
$$$$$$
$$$$$$$$
$$$$$$$$$$

In [ ]:
# Question 3 :

# Write Python code the will output the following

# $$$$$$$$$
# $$$$$$$
# $$$$$
# $$$
# $

In [47]:
for i in range(9,0,-2):
    print("$"*i)

$$$$$$$$$
$$$$$$$
$$$$$
$$$
$