In [ ]:
import pandas as pd

In [ ]:
# read california_housing_train csv file from colab
df = pd.read_csv("/content/sample_data/california_housing_train.csv")

# Q1 

 Show the first 7 rows from the Data-Frame

In [ ]:
# Q1 solution

# Q2

Show the last 2 rows from the Data-Frame

In [ ]:
# Q2 solution

# Q3

Show the first 7 rows for total_rooms, total_bedrooms, and median_house_value from the Data-Frame

3.1- Use head() function 


3.2 Use .loc() "location" function

In [ ]:
# Q3 solution

# 3.1

# 3.2

# Q4

4.1- Describe Data-Frame for housing_median_age, and median_house_value attributs, create df_desc variable to hold the describe output

4.2- Select standard deviation, mean, Q3 from df_desc

4.3 print IQR for housing_median_age attribute

In [ ]:
# Q4 solution

# 4.1 solution

In [ ]:
# 4.2

In [ ]:
# 4.3

# Q5 

If you have the following described Data-Frame 

5.1- Calulate IQR for all columns/ attributes 

5.2- Create new Data-Frame with IQR in the last index 


**Hint : Use Transpose method**

In [ ]:
df_desc = df.describe()
df_desc

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

Output should be like this üò∫

In [ ]:
# Q5 output

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000
IQR,3.790000,3.790000,19.000000,1689.250000,351.250000,931.000000,323.250000,2.200625,145600.000000

In [ ]:
# Q5 solution

# Q6 

Slect the the following 

6.1- Select the price of the five most expensive homes, column : "median_house_value"


6.2- Select the price of the cheapest five homes, column : "median_house_value"



6.3.1- Create a function where calculate correlation coefficient DONT USE any build-in finctions 


6.3.2- Apply correlation coefficient function on total_rooms and median_house_value


6.3.3- Determine the relationship between them



6.4- Write you own query and apply it üòÜ (I am a democrat üòú)

In [ ]:
# Solution 6.1

In [ ]:
# Solution 6.2

ÿ¥ŸàŸÅŸà ŸÖÿß ÿßÿ≠ÿ≥ŸÜŸä ÿ®ÿ≠ÿ® ÿßÿ±Ÿäÿ≠ŸÉŸÖ üòç

**correlation coefficient**



*   The correlation coefficient is an equation that is used to determine 

      the strength of the relation between two variables


*   The correlation coefficient always lies between -1 to +1
*    -1 represents X and Y are negatively correlated
*   +1 represents X and Y are positively correlated



---



---


r = n (‚àëxy) ‚Äì ‚àëx ‚àëy / ‚àö [n* (‚àëx2 ‚Äì (‚àëx)2)] * [n* (‚àëy2 ‚Äì (‚àëy)2)]


*   r = correlation coefficient

*   n = number of observations

*   x = 1st variable in the context



*   y = 2nd variable




---

Absolute Value of r Strength of Relationship


r < 0.3  ==>  None or very weak


0.3 < r <0.5   ==>  Weak


0.5 < r < 0.7  ==>   Moderate


r > 0.7  ==>   Strong

In [ ]:
# Solution 6.3

# Q7 

Using boolean indexing, select the following 

**ONE LINE OF CODE** üõë

7.1- Select ratio of houses where median_income value is above of the median_income average value


7.2- Select the median_house_value for oldest house housing_median_age


7.3- Calculate Apply correlation coefficient function on total_rooms and total_bedrooms and detemine the relationship


7.4- Select Data-Frame where total_rooms greater or equal 1500 


7.5- Select Data-Frame where total_rooms greater or equal 1500 and total_bedrooms greater or equal 500


7.6- Select Data-Frame with total_rooms, population, and  median_house_value columns where the median_house_value is greater than IQR value for median_house_value

In [ ]:
# Q7  Solutions

In [ ]:
# 7.1

In [ ]:
# 7.2

In [ ]:
# 7.3

In [ ]:
# 7.4

In [ ]:
# 7.5

In [ ]:
# 7.6

#  No pain ... No gain 

**Good luck** ‚ô•