**Pandas**

# Series

In [ ]:
import pandas as pd 
import numpy as np

**1- Create Series**

In [ ]:
# Create empty series
s = pd.Series()

In [ ]:
s

**1.1** Create Series from ndarray

In [ ]:
intArr = np.arange(10)

sArr = np.array(['a', 'b','c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

intSer = pd.Series(data = intArr)

sSer = pd.Series(data = sArr)


# We did not pass any index, so by default, 
# it assigned the indexes ranging from 0 to len(data)-1

In [ ]:
intSer

In [ ]:
sSer

In [ ]:
# Create Series by index
ser = pd.Series(data=intArr, index=['a', 'b','c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])
print(ser)

**1.2** Create Series from dictionary

In [ ]:
# Create Series using dictionary

dictData = {'a' : 0., 'b' : 1., 'c' : 2.}

s = pd.Series(data = dictData)
print(s)

In [ ]:
# Create Series using dictionary and passing index 
dictData = {'a' : 0., 'b' : 1., 'c' : 2.}
s = pd.Series(data = dictData, index=[0,1,2])
print(s)

In [ ]:
dictData = {'a' : 0., 'b' : 1., 'c' : 2.}
s = pd.Series(dictData.values(), index=[0,1,2])
print(s)

In [ ]:
dictData = {'a' : 0., 'b' : 1., 'c' : 2., 'd': 2}
s = pd.Series(dictData.keys(), index=dictData.values())
print(s)

In [ ]:
s[2.0]

In [ ]:
dictData = {'a' : 0., 'b' : 1., 'c' : 2., 'd': 2}
s = pd.Series(dictData.keys(), index=[0,1,2,2])
print(s)

**1.3** Create Series from list

In [ ]:
listData = [34, 21, "40", 7.9]

ser = pd.Series(data=listData)

print(ser)

In [ ]:
# Name the Series
ser = pd.Series(data = listData, name="SeriesFromList")

In [ ]:
ser.name

In [ ]:
# rename Series
ser.name = 'MahmoudSeries'

print(ser)

In [ ]:
# Get Series index 
ser.index

In [ ]:
list(ser.index)

In [ ]:
intArr = np.arange(10)
ser = pd.Series(data=intArr, index=['a', 'b','c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])
print(ser.index)

In [ ]:
# Access to values in Series as array
ser.values

In [ ]:
# You can access the underlying data array using .to_numpy():
ser.to_numpy()


**2- Indexing and Slicing Series**

**2.1** Integer Indexing

In [ ]:
ser.index

In [ ]:
# Access to the first index in Series

print("By 'a' index : ", ser["a"])
print("By 0 index : ", ser[0])

In [ ]:
ser[0:6]

In [ ]:
# Slicing data from 0 to 6 by step 2
ser[0:6:2]

In [ ]:
# Slicing data using characters 
ser['a':'i']

In [ ]:
ser['a':'i' :3 ]

In [ ]:
ser = pd.Series(data = [10, 20,30], index=[1, 5 , 68])

In [ ]:
ser

In [ ]:
ser[1]

In [ ]:
ser[2]

**2.2** Boolean Indexing

In [ ]:
# Return boolean values based on data wich greater than 5 
ser > 5

In [ ]:
# Return value from Series where have True value
ser[ ser > 5 ]

Statistics in Pandas

In [ ]:
# Get mean value from thr Series
print("Mean value : ", ser.mean())

In [ ]:
# Get mean value from thr Series
print("Standard Deviation : ", ser.std())

In [ ]:
print("Quantiles values : ")
print("Q1 : ", ser.quantile(0.25))
print("Q2 : ", ser.quantile(0.50))
print("Q3 : ", ser.quantile(0.75))

Check if value in Series index

In [ ]:
ser

In [ ]:
'a' in ser

In [ ]:
'z' in ser

In [ ]:
1 in ser.index

# Data-Frames

**1- Create Data-Frame**

In [115]:
import pandas as pd

In [116]:
# Create empty Data-Frame
df = pd.DataFrame()

In [117]:
df

Empty DataFrame
Columns: []
Index: []

**1.1**- Create Data-Frame from list

In [118]:
# Crate Data-Frame from 2D lists
data_1 = [['Mahmoud',98.0],['Ahmad',79.7],['Rand',80.9]]

df = pd.DataFrame(data = data_1, columns=["name", "gpa"])

In [119]:
df

      name   gpa
0  Mahmoud  98.0
1    Ahmad  79.7
2     Rand  80.9

**2.1**- Create Data-Frame from dictionary

In [120]:
data = {'Name':['Mahmoud', 'Ahmad', 'Rand', 'Rami'],
        'Age':[28,34,29,42]}

In [121]:
df = pd.DataFrame(data)

In [122]:
df

      Name  Age
0  Mahmoud   28
1    Ahmad   34
2     Rand   29
3     Rami   42

Create a DataFrame from List of Dicts

In [123]:
data = [{'a': 5, 'b': 10, 'c': 20}, {'a': 1, 'b': 2}, {'a': 50, 'b': 50, 'c': 50}]
df = pd.DataFrame(data)

In [124]:
df

    a   b     c
0   5  10  20.0
1   1   2   NaN
2  50  50  50.0

In [125]:
# Create Data-Frame from list of dictionaries where keys are different from dictionary to another
data = [{'a': 5, 'b': 10, 'c': 20}, {'a': 1, 'b': 2}, {'a': 50, 'b': 50, 'c': 50, 'd':0}]
df = pd.DataFrame(data)
print(df)

    a   b     c    d
0   5  10  20.0  NaN
1   1   2   NaN  NaN
2  50  50  50.0  0.0

Create a DataFrame from Series

In [126]:
# Create Data-Frame from Series with index 

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(data = d)

In [127]:
df

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [128]:
# Create Data-Frame from Series with index 

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']),
   'three' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'f'])}

df = pd.DataFrame(data = d)

In [129]:
df

   one  two  three
a  1.0  1.0    1.0
b  2.0  2.0    2.0
c  3.0  3.0    3.0
d  NaN  4.0    NaN
f  NaN  NaN    4.0

In [130]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']),
   'three' : pd.Series([1, 2, 3, 4])}

df = pd.DataFrame(data = d)
df

   one  two  three
a  1.0  1.0    NaN
b  2.0  2.0    NaN
c  3.0  3.0    NaN
d  NaN  4.0    NaN
0  NaN  NaN    1.0
1  NaN  NaN    2.0
2  NaN  NaN    3.0
3  NaN  NaN    4.0

In [131]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(data = d)
df

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [ ]:
import numpy as np

In [132]:
type(np.NaN)

float

Add Column into Data-Frame

In [ ]:
# Add column by Series
df["three"] = pd.Series([10,20,30],index=['a','b','c'])

In [ ]:
# Add column by constant
df["four"] = 4

In [ ]:
df

Delete Column from Data-Frame

In [ ]:
# using del function
del df["four"]

print(df)

In [ ]:
# using pop
d = df.pop("two")

In [ ]:
print(d)
print()
type(d)

In [ ]:
df

Create Data-Frame from csv file

In [ ]:
df = pd.read_csv("/content/sample_data/mnist_train_small.csv")

In [ ]:
df

In [ ]:
df = pd.read_csv("/content/sample_data/california_housing_train.csv")

In [ ]:
df

In [ ]:
# Return first n of rows from Data-Frame
# head() 
# By default return first 5 rows

df.head()

In [ ]:
# Return first 3 rows
df.head(3)

In [ ]:
df.head(9)

In [ ]:
# Return last n of rows from Data-Frame
# tail() 
# By default return first 5 rows

df.tail()

In [ ]:
# Return the last row in Data-Frame
df.tail(1)

In [ ]:
df.tail(6)

In [ ]:
df.info()

In [ ]:
# Get shape of Data-Frame
df.shape

Select Rows by label/column name

loc : location

In [ ]:
# Get columns names from Data-Frame
df.columns

list(df.columns)

In [ ]:
# Select from one column
df.loc[ : , 'longitude']

In [ ]:
df.loc[5:15 , 'longitude']

In [ ]:
ser = df.loc[10:20:2 , 'longitude']

print(ser)

In [ ]:
ser[10]

In [ ]:
# Select from multiple columns
df.loc[ :10 , ['total_rooms','total_bedrooms', 'population'] ]

iloc : index location

In [ ]:
# Select one column by column index
df.iloc[ :10 , 2 ]

In [ ]:
# Select multiple columns by columns indecies
df.iloc[:10 , [ 2 , 5 , 7] ]

In [ ]:
# Select multiple columns by slicing columns indecies
df.iloc[:10 , 2:8]

In [ ]:
# Select multiple columns by slicing columns indecies with steps
df.iloc[:10:2 , 2:8:2]

In [ ]:
df

In [ ]:
df.index

Describe data in Data-Frame

In [ ]:
# Describe all numaric data in Data-Frame
df.describe()

In [ ]:
desc = df.describe()

In [ ]:
# Get the type of desc
type(desc)

In [ ]:
# Get columns
desc.columns

In [ ]:
# Get indecies in desc Data-Frame
desc.index

In [ ]:
# Get shape of data
desc.shape

Slicing data from Data-Frame

In [ ]:
desc["longitude"]

In [ ]:
desc['max' : ]

In [ ]:
desc['std' : '75%']

In [ ]:
desc[1:4]

In [ ]:
desc[:8:2]

In [ ]:
desc[:8:2][:3]

In [ ]:
desc[:8:2][:3]["std" :]["median_house_value"]

In [ ]:
df

In [ ]:
# Return the mean of median_house_value
print(df["median_house_value"].mean())
print(df.loc[: , ["median_house_value"]].mean())

In [ ]:
# Return the std of last column  using column index
df.iloc[:, -1 ].std()

In [ ]:
df.shape

In [ ]:
df_shape = df.shape

print(df_shape)

In [ ]:
df_shape[-1]

In [ ]:
# Create ndarray with the same shape of Data-Frame

# Solution 1
arr = np.empty(df_shape)
print(arr.shape)


# Solution 2

arr = np.zeros(df_shape)
print(arr.shape)

# Solution 3 
arr = np.array([1])
arr = np.resize(arr, df_shape)
print(arr.shape)

In [ ]:
df

In [ ]:
df.shape[0]

In [ ]:
# Loop on rows in Data-Frame
# print median_house_value when totla_rooms = 2000

for i in range(df.shape[0]):
  if df.loc[i ,'total_rooms'] == 2000:
    print( df.loc[i, 'median_house_value'] )

In [ ]:
df.columns

In [ ]:
counter = 0
for i in range(df.shape[0]):
  if df.loc[i, "housing_median_age"] >= 37:
    counter+=1

print(counter)

In [ ]:
df.loc[0 ,'total_rooms']

In [ ]:
df

In [ ]:
list( df.iterrows())[:2]

In [ ]:
for idx, row in df.iterrows():
  # print(row)
  # break
  if row["total_rooms"] == 2000:
    print(row["median_house_value"])

In [ ]:
# Return Data-Frame where median_house_value greater than the mean of median_house_value

In [ ]:
df.loc[:, "median_house_value"].mean()

In [ ]:
df.loc[:, "median_house_value"] > df.loc[:, "median_house_value"].mean()

In [ ]:
df[ df.loc[:, "median_house_value"] > df.loc[:, "median_house_value"].mean()  ]

In [ ]:
df[df.loc[:, "median_house_value"] > df.loc[:, "median_house_value"].mean()]["population"]

In [ ]:
df[df.loc[:, "median_house_value"] > df.loc[:, "median_house_value"].mean()].shape[0]

In [ ]:
df[df.loc[:, "median_house_value"] <= df.loc[:, "median_house_value"].mean()].shape[0]

In [ ]:
6891 / 17000

Data-Frame size : Number of elements in the Data-Frame

In [ ]:
print(df.size)
print(df.shape[0] * df.shape[1]) # n rows * n columns

Data-Frame data types : return data type for each column in Data-Frame

In [ ]:
df.dtypes

Transpose Data-Frame

In [ ]:
desc

In [ ]:
# Transpose desc Data-Frame
dfTransposedDesc = desc.T

In [ ]:
dfTransposedDesc

In [ ]:
dfTransposedDesc.columns

In [ ]:
dfTransposedDesc.index

In [ ]:
dfTransposedDesc["mean"]

In [ ]:
# df[columns][rows]
dfTransposedDesc["mean"]["longitude"]

In [ ]:
dfTransposedDesc["mean"][0:3]

In [ ]:
dfTransposedDesc["mean"][["longitude", "population"]]

In [ ]:
dfTransposedDesc["min"][["longitude", "population"]]

Values : Returns the actual data in the DataFrame as an NDarray.

In [ ]:
df.values

Empty : Returns the Boolean value saying whether the Object is empty or not; True indicates that the object is empty.

In [ ]:
df_temp = pd.DataFrame()

In [ ]:
df_temp.empty

In [ ]:
df.empty

**Manipulate with missing data**

In [ ]:
import pandas as pd 
import numpy as np

Check null values in Data-Frame

In [ ]:
data = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
        'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']),
        'three' :  pd.Series([10,20,30],index=['a','b','c']) }

df_temp = pd.DataFrame(data)
print(df_temp)

In [ ]:
type(df_temp["three"]['d'])

In [ ]:
df_temp.isnull()

In [ ]:
~ df_temp["one"].isnull()

In [ ]:
df_temp[~ df_temp["one"].isnull()]

In [ ]:
df_temp.notnull()

In [ ]:
pd.isnull(df_temp)

Fill NaN

In [ ]:
df = pd.DataFrame([[np.nan, 2, np.nan, 0],
                   [3, 4, np.nan, 1],
                   [np.nan, np.nan, np.nan, np.nan],
                   [np.nan, 3, np.nan, 4]],
                  columns=list("ABCD"))

print(df)

In [ ]:
# Fill NaN values with 0s.

df.fillna(value = 0)

In [ ]:
# Fill all NaN values with with mean value of specific column

df.fillna(value = df["B"].mean() )

In [ ]:
df

In [ ]:
# Replace all NaN elements in column A, B, C, and D, with 0, 1, 2, and 3 respectively.
values = {"A": 0, "B": 1, "C": 2, "D": 3}

print(df.fillna(value = values))

In [ ]:
values = {"A": df["A"].mean(), "B": df["B"].mean(), "C": df["C"].mean(), "D": df["D"].mean()}
print(df.fillna(value = values))

In [ ]:
df_2 = df.copy()
for col in df_2.columns:
  df_2[col] = df_2[col].fillna(value=df_2[col].mean())
print(df_2)

In [ ]:
df.columns

In [ ]:
dict_values = {}

for col in list(df.columns) :
  dict_values[col] = df[col].mean()

print(dict_values)
print(df.fillna(value = dict_values))

In [ ]:
# for col in list(df.columns):
#   df[col].fillna(value = df[col].mean(), inplace=True )

# print(df)

In [ ]:
df

In [ ]:
values = {'A': 3.0, 'B': 3.0, 'C': 5, 'D': 1.7}

In [ ]:
# Only replace the first NaN element.

df.fillna(value=values, limit=1)

In [ ]:
df

In [ ]:
# Only replace the first two NaN element.

df.fillna(value=values, limit=2)

In [ ]:
# Fill forward

print(df)

print()

print(df.fillna(method = 'ffill', axis=0))

In [ ]:
print(df)

print()

print(df.fillna(method = 'ffill', axis=1))

In [ ]:
print(df)

print()

print(df.fillna(method = 'bfill', axis=0 ))

In [ ]:
print(df)

print()

print(df.fillna(method = 'bfill', axis=1))

Filling using a DataFrame, replacement happens along the same column names and same indices

In [ ]:
df

In [ ]:
df2 = pd.DataFrame(np.zeros((4,4 )), columns=list("ABCE"))
print(df2)

In [ ]:
df.fillna(df2)

Note that column D is not affected since it is not present in df2.

In [ ]:
df = pd.DataFrame({
    'Postal Address': ['New York', np.nan, 'London', 'Mumbai', np.nan],
    'Permanent Address': ['Miami', 'Amsterdam', 'London', 'Rajkot', 'Sydney']
})
print(df)

In [ ]:
# inplace : Modify on the same object
df['Postal Address'].fillna(df['Permanent Address'], inplace=True)

In [ ]:
df

Drop NaN values fom Data-Frame

In [ ]:
#   dropna function along with the axis argument

#   By default, axis=0

#   if any value within a row is NA then the whole row is excluded

In [ ]:
df = pd.DataFrame(data = np.random.randn(5, 3), index=['a', 'c', 'e', 'f','h'],
                  columns=['one', 'two', 'three'])

print(df)

In [ ]:
df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

print(df)

In [ ]:
df.dropna(axis =0 )

In [ ]:
df.dropna(axis =1)

In [ ]:
df

Replace data in Data-Frame

In [ ]:
df

In [ ]:
df = pd.DataFrame({'one':[10,20,30,40,50,2000], 'two':[1000,0,30,40,50,60]})

df

In [ ]:
# Replace one value
 
df.replace(1000, 1500 )

In [ ]:
# Replace multiple value
df.replace( { 1000:1500 , 0 :2222 } )

In [ ]:
df

**Group by**

Split data

In [ ]:
# Define a dictionary containing employee data
data = {'Name':['Jai', 'Anuj', 'Jai', 'Princi','Gaurav', 'Anuj', 'Princi', 'Abhi'],
		     'Age':[27, 24, 22, 32,33, 36, 27, 32],
		     'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj',
				 'Jaunpur', 'Kanpur', 'Allahabad', 'Aligarh'],
		     'Qualification':['Msc', 'MA', 'MCA', 'Phd','B.Tech', 'B.com', 'Msc', 'MA'],
         'Salary' : [400, 600, 500, 600, 550, 370, 800, 1000]}
	

# Create Data-Frame from dictionary of data
df = pd.DataFrame(data)

print(df)

In [ ]:
# In order to split the data, we use groupby() function 
# this function is used to split the data into groups based on some criteria

In [ ]:
df.groupby('Name').groups

In [ ]:
# group the data on Name value.
groupByName = df.groupby("Name")

In [ ]:
# first function return Data-Frame of first entries in all the groups formed
groupByName.first()

In [ ]:
# last function return Data-Frame of the last entries in all the groups formed
groupByName.last()

In [ ]:
# print each group name with data
for name, group in groupByName:
  print(name)
  print(group)

In [ ]:
groupByQualification = df.groupby("Qualification")

In [ ]:
for name, group in groupByQualification:
  print(name)
  print(group)

In [ ]:
#  get_group function retun Data-Frame based on group name 
groupByQualification.get_group('MA')

Grouping data with multiple keys

In [ ]:
group = df.groupby(['Name', 'Qualification'])

In [ ]:
group.groups

In [ ]:
# return Data-Frame based on ('Princi', 'Msc') group name
group.get_group(('Princi', 'Phd'))

In [ ]:
# grouping on range of Salary

# group = df.groupby(['Salary', np.arange(100, 1000 , 200)])

In [ ]:
df.groupby(['Qualification']).sum()

Applying function to a group

Aggregation is a process in which we compute a summary statistic about each group

In [ ]:
# 1- Aggregation 
#  Aggregated function returns a single aggregated value for each group

In [ ]:
# performing aggregation using aggregate method
group_1 = df.groupby('Name')

In [ ]:
group_1.aggregate(np.sum)

In [ ]:
df.groupby(['Name', 'Qualification']).aggregate(np.sum)

In [ ]:
# Apply a multiple functions by passing a list of functions.
 
df.groupby(['Name']).aggregate([np.sum, np.mean, np.std])

In [ ]:
df.groupby(['Qualification']).aggregate([np.sum, np.mean, np.std])

In [ ]:
# Apply a different aggregation to the columns of a dataframe. 
df.groupby(['Qualification']).aggregate({'Age' : np.sum, 'Salary' : np.mean})

Function Application

pipe : Table wise Function Application

apply : Row or Column Wise Function Application

applymap : Element wise Function Application

In [ ]:
df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
print(df)

In [ ]:
def adder(num1,num2):
   return num1+num2


def addFive(num):
  return num + 5

In [ ]:
df

In [ ]:
# pipe
df.pipe(adder, 2)

In [ ]:
df + 2

Apply

In [ ]:
df["col4"] = df["col3"].apply(addFive)
print(df)

In [ ]:
data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
        'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
        'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
        'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
        'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}

df = pd.DataFrame(data)

print(df)

In [ ]:
dict_teams_nums = {"Riders" : 0, 
          "Devils" : 1,
          "kings"  : 2,
          "Kings"  : 3,
          "Royals" : 4}

In [ ]:
dict_teams_nums["Royals"]

In [ ]:
{"Riders" : 0, 
          "Devils" : 1,
          "kings"  : 2,
          "Kings"  : 3,
          "Royals" : 4}["Royals"]

In [ ]:
def getTeamNumer(team):
  return {"Riders" : 0, 
          "Devils" : 1,
          "kings"  : 2,
          "Kings"  : 3,
          "Royals" : 4} [team]

In [ ]:
df

In [ ]:
df['Team'].apply(getTeamNumer)

In [ ]:
df["intTeam"] = df['Team'].apply(getTeamNumer)

In [ ]:
df

In [ ]:
df.Team.value_counts()